/*
Colors
------
<a>: #7ACE11 (zelena)
text: #404040
*/



body {
	margin: 0;
	padding: 0;
	background:  #FFFFFF url("images/bg01.jpg") repeat-x top left;
	font-size: 13px;
	color:  #404040; /*#7F7F7F;*/
}

body, th, td, input, textarea, select, option {
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #282828;
}

h1 {
	/*text-transform: lowercase;*/
	letter-spacing: -1px;
	font-size: 26px;
}

h2 {
	/*text-transform: lowercase;*/
	letter-spacing: -1px;
	font-size: 22px;
}

h3 { font-size: 18px; }

ul, ol { line-height: 200%; }
p      { line-height: 180%; }

p small { font-size: 99%; }
small { font-size: 80%; }

blockquote { padding-left: 1em; }

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a       { color: #7ACE11; }
a:hover { color: #7ACE11; text-decoration: none; }

/* Header */

#header {
	width: 976px;
	height: 190px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 40px 0 0 0;
}

#logo h1 {
	margin: 0;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}




/* Menu */

#menu { float: right; }

#menu ul {
	margin: 0px;
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li { display: inline; }

#menu h1,
#menu h2 { text-transform: lowercase; }

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #FFFFFF;
}




/* ------ Page ----- */

#page {
	width: 976px;
	margin: 0 auto;
}


/* Content */

#content {
	float: left;
	width: 739px;
}


/* --- Post --- */

.post {
    padding: 20px 20px;
    background: url("images/bg04-w740.png") no-repeat top left;
}

    .post.hledani {
        background: url("images/bg04-w740-h80.png") no-repeat top left;
    }



    .post .title,
    .post h2 {
        margin: 0;
        border-bottom: 2px solid #484848;
        color: #484848;
    }

    .post .byline {
        margin: 0;
        color: #D79B00;
    }

    .post .byline small {
        margin: 0;
        color: black;
        font-size: 90%;
    }


    /* --- Table --- */
    .post table {
        margin: 2ex 0ex 0ex;
        width: 100%;
        x-background: url("images/bg04-w740.png") no-repeat top left;
        x-border-collapse: collapse;
        border-spacing: 0px;
        empty-cells: show;
    }
    .post table.data a { color: #6ABE01; text-decoration: none; }
    .post table th { font-weight: bold; background-color: #E3E3E3; }
    .post table th,
    .post table td {
            text-align: left;
            padding: 0px 0.1ex 0px 0.2ex;
            margin: 0;
    }
    .post table.data td {
            x-background: url("images/bg04-w740.png") no-repeat bottom left;
    }
    .post table.data td,
    .post table.data th {
            border-width: 2px;
            border-style: groove;
            border-color: white;
    }
    .post.stav table th,
    .post.stav table td {
            padding: 0.2ex 1ex 0.2ex 2ex;
    }

    .post table tr.header th { text-align: left; padding-top: 0.3ex; }

    .post.releases table td.state.planned { color: gray; }
    .post.releases table td.state.in_progress { color: goldenrod; }
    .post.releases table td.state.released { color: green; }

    .releases table .links a { margin-right: 1em; }
    .releases table .links a:hover { color: green; }

    /* Traits */
    .fakeLink { color: blue; text-decoration: underline; }
    .post .traits span.fakeLink span {
        font-size: 90%;
        display: block; max-width: 560px; overflow: hidden;  /* Don't allow long links to break to leak. */
    }  
    .post .traits table td { vertical-align: top; }
    .post .traits table td.name { white-space: nowrap; }


    .post .meta {
            text-align: left;
            color: #646464;
    }

    .post .meta .more {
            padding-left: 20px;
            background: url(images/img03.gif) no-repeat left center;
    }

    .post .meta .comments {
            padding-left: 20px;
            background: url(images/img04.gif) no-repeat left center;
    }

.post .dangerousButton      {  }
.post .dangerousButton.very { background-color: #E00000; color: white; font-weight: bold; text-decoration: blink; }




/* --- Sidebar --- */

#sidebar {
    float: right;
    width: 210px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
}

#sidebar li ul {
    padding: 15px 0;
}

#sidebar li li {
    padding-left: 20px;
    border-bottom: 1px dotted #7B9418;
}

#sidebar h2 {
    margin: 0;
    padding: 5px 0 0 20px;
    background: url(images/img06.jpg) no-repeat left 80%;
}

#sidebar .ext {
    color: gray;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover {
}







/* --- Footer --- */

#footer {
    clear: both;
    margin: 0px;
    height: 80px;
    background: #F2F2F2 url(images/bg02.jpg) repeat-x left top;
}

#footer p {
    padding: 20px 0;
    text-align: center;
    font-size: smaller;
    color: #717171;
}



input.noBorder {
    border: none;
}



.feedback { font-weight: bold; }
.feedback .feedbackPanelERROR { color: red; font-weight: bold; }