<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>JBoss ESSC Team Portal</display-name>

    <!-- Enable Wicket -->
    <filter>
        <filter-name>Wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <!-- Specify the "entry point" for Wicket to configure itself from. -->
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.jboss.essc.web.WicketJavaEEApplication</param-value>
        </init-param>
    </filter>
    
    <!-- Wicket mode -->
    <context-param>
        <param-name>configuration</param-name>
        <param-value>${wicket.mode}</param-value>
    </context-param>

    <!-- Have wicket manage the context root -->
    <filter-mapping>
        <filter-name>Wicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>health</servlet-name>
        <jsp-file>/health.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>health</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

</web-app>
